@page "/Auth/Login"
@using Microsoft.AspNetCore.Http
@using Shop.UI.Components.Account.Auth.Pages.Controles
@using CustomAuthenticationStateProvider = Shop.UI.Components.Account.CustomServerAuthenticationStateProvider


@layout AuthLayout
@rendermode InteractiveServer





<AntiforgeryToken>@(new AntiforgeryToken())</AntiforgeryToken>


<EditForm Model="LoginCommand" OnValidSubmit="LoginUser" FormName="LoginForm" Enhance="@true"
          class="auth-form shadow-around">
    <DataAnnotationsValidator/>
    <div class="site-logo">
        <a href="#">
            <img src="./assets/images/logo.png" alt="logo">
        </a>
    </div>
    <div class="auth-form-title">
        ورود به سامانه
    </div>

    <AuthInput Label="نام کاربری/شماره همراه" Icon="fad fa-mobile-alt">
        <Control>
            <InputText @bind-Value="LoginCommand.PhoneNumber" class="input-element"
                       id="phone-number"/>
        </Control>
        <Validation>
            <ValidationMessage For="@(() => LoginCommand.PhoneNumber)"/>
        </Validation>
    </AuthInput>

    <AuthInput Label="کلمه عبور" Icon="fad fa-key-skeleton">
        <Control>
            <InputText @bind-Value="LoginCommand.Password" class="input-element" id="password"/>
        </Control>
        <Anchor>
            <AuthAnchor class="link--with-border-bottom" NavigationText="رمز عبور خود را فراموش کرده‌ام"
                        ToAddress="/Auth/ForgetPassword">
            </AuthAnchor>
        </Anchor>
        <Validation>
            <ValidationMessage For="@(() => LoginCommand.Password)"/>
        </Validation>
    </AuthInput>

    <AuthButton ButtonText="ورود به همتا" class="btn-element btn-info-element" Icon="fad fa-sign-in-alt"/>

    <AuthAnchor class="link--with-border-bottom" Label="کاربر جدید هستید" NavigationText="ثبت نام در همتا"
                ToAddress="/Auth/Register"/>
</EditForm>

@code {

    [SupplyParameterFromForm(FormName = "LoginForm")]
    public LoginCommand LoginCommand { get; set; } = new();

    [CascadingParameter] private HttpContext HttpContext { get; set; } = default!;

    [SupplyParameterFromQuery] private string? ReturnUrl { get; set; }

    // protected override Task OnInitializedAsync()
    // {
    //     avr
    // }

    public async Task LoginUser()
    {
        try
        {
            var customAuth = (CustomAuthenticationStateProvider)AuthenticationStateProvider;

            var result =await customAuth.Login(LoginCommand);
            if (!result.result)
            {
                ShowSnackBar(result.massage);
                LoginCommand = new LoginCommand();
                return;
            }

             NavigationManager.NavigateTo("/");
        }
        catch (NotFoundException ex)
        {
            ShowSnackBar(ex.Message);
        }
        catch (HttpRequestException ex)
        {
            ShowSnackBar(ex.Message);
        }
    }



    private void ShowSnackBar(string message)
    {
        Snackbar.Clear();
        Snackbar.Add($"{message}", Severity.Error, c =>
        {
            c.SnackbarVariant = Variant.Text;
            c.HideIcon = true;
            c.DuplicatesBehavior = SnackbarDuplicatesBehavior.Prevent;
            c.CloseAfterNavigation = true;
            c.Onclick = snackbar =>
            {
                snackbar.Dispose();
                return Task.CompletedTask;
            };
        });
    }

}