<div class="form-element-row text-left">
    <button @attributes="InputAttributes!">
        <i class="@Icon"></i>
        @ButtonText
    </button>
</div>

@code {

[Parameter] public string? ButtonText { get; set; }
[Parameter] public string? Icon { get; set; }

[Parameter(CaptureUnmatchedValues = true)]
public Dictionary<string, object>? InputAttributes { get; set; }
}