@using MyShop.Ui.Commen
@using MyShop.Ui.Layout
@using MyShop.Ui.Features.Users.Authentication

<CascadingAuthenticationState>
    <Error>
        <Router AppAssembly="@typeof(Program).Assembly">
            <Found Context="routeData">
                <AuthorizeRouteView RouteData="@routeData" DefaultLayout="@(GetMainLayout()))">
                    <NotAuthorized>
                        <Login/>
                    </NotAuthorized>
                </AuthorizeRouteView>
            </Found>
            <NotFound>
                <LayoutView Layout="@typeof(NotFoundLayout)">
                    <p>Sorry, there's nothing at this address.</p>
                </LayoutView>
            </NotFound>
        </Router>
    </Error>
</CascadingAuthenticationState>




 @code
 {
     private Type GetMainLayout()
     {
         var roles = UserInfo.Roles().Result;


         return typeof(UserMainLayout);
     }
 }
