<div class="row">
    <div class="col-12">
        <div class="section-title mb-2">
            آخرین سفارش‌ها
        </div>
        <section class="table--order shadow-around">
            <div class="table-responsive">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>شماره سفارش</th>
                        <th>تاریخ ثبت سفارش</th>
                        <th>مبلغ قابل پرداخت</th>
                        <th>مبلغ کل</th>
                        <th>عملیات پرداخت</th>
                        <th>عملیات پرداخت</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>۱</td>
                        <td class="order-code">DKC-149404537</td>
                        <td>۱۴ آذر ۱۳۹۹</td>
                        <td>۰</td>
                        <td>۱۱,۶۰۰,۰۰۰ تومان</td>
                        <td>لغو شده</td>
                        <td class="order-detail-link">
                            <a href="#">
                                <i class="far fa-chevron-left"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>۱</td>
                        <td class="order-code">DKC-149404537</td>
                        <td>۱۴ آذر ۱۳۹۹</td>
                        <td>۰</td>
                        <td>۱۱,۶۰۰,۰۰۰ تومان</td>
                        <td>لغو شده</td>
                        <td class="order-detail-link">
                            <a href="#">
                                <i class="far fa-chevron-left"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>۱</td>
                        <td class="order-code">DKC-149404537</td>
                        <td>۱۴ آذر ۱۳۹۹</td>
                        <td>۰</td>
                        <td>۱۱,۶۰۰,۰۰۰ تومان</td>
                        <td>لغو شده</td>
                        <td class="order-detail-link">
                            <a href="#">
                                <i class="far fa-chevron-left"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>۱</td>
                        <td class="order-code">DKC-149404537</td>
                        <td>۱۴ آذر ۱۳۹۹</td>
                        <td>۰</td>
                        <td>۱۱,۶۰۰,۰۰۰ تومان</td>
                        <td>لغو شده</td>
                        <td class="order-detail-link">
                            <a href="#">
                                <i class="far fa-chevron-left"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>۱</td>
                        <td class="order-code">DKC-149404537</td>
                        <td>۱۴ آذر ۱۳۹۹</td>
                        <td>۰</td>
                        <td>۱۱,۶۰۰,۰۰۰ تومان</td>
                        <td>لغو شده</td>
                        <td class="order-detail-link">
                            <a href="#">
                                <i class="far fa-chevron-left"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>۱</td>
                        <td class="order-code">DKC-149404537</td>
                        <td>۱۴ آذر ۱۳۹۹</td>
                        <td>۰</td>
                        <td>۱۱,۶۰۰,۰۰۰ تومان</td>
                        <td>لغو شده</td>
                        <td class="order-detail-link">
                            <a href="#">
                                <i class="far fa-chevron-left"></i>
                            </a>
                        </td>
                    </tr>
                    <tr>
                        <td>۱</td>
                        <td class="order-code">DKC-149404537</td>
                        <td>۱۴ آذر ۱۳۹۹</td>
                        <td>۰</td>
                        <td>۱۱,۶۰۰,۰۰۰ تومان</td>
                        <td>لغو شده</td>
                        <td class="order-detail-link">
                            <a href="#">
                                <i class="far fa-chevron-left"></i>
                            </a>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
            <div class="text-center py-3">
                <a href="#" class="d-flex align-items-center justify-content-center text-dark">
                    مشاهده لیست سفارش ها
                    <i class="fal fa-arrow-to-left mr-1"></i>
                </a>
            </div>
        </section>
    </div>
</div>