@using Domain.User.Address

<MudDialog class="Blu   r">
    <DialogContent>
        <div class="modal-body">
            <EditForm Model="Command" OnValidSubmit="Submit" FormName="1212" Enhance="true">
                <div class="row">
                    <MudItem xs="12" lg="6" class="text-dark font-weight-bold mb-3">
                        <div class="form-element-row mb-0">
                            <MudTextField
                                Class="input-element"
                                HelperText="علی"
                                Label="نام:"
                                bind-Value="Command!.Name"
                                HelperTextOnFocus="true"
                                AutoFocus="true"
                                T="string"/>
                        </div>
                    </MudItem>
                    <MudItem xs="12" lg="6" class="text-dark font-weight-bold mb-3">
                        <div class="form-element-row mb-0">
                            <MudTextField
                                Class="input-element"
                                HelperText="احمدی"
                                bind-Value="Command!.Family"
                                Label="نام خانوادگی:"
                                T="string"/>
                        </div>
                    </MudItem>

                    <MudItem xs="12" lg="6" class="text-dark font-weight-bold mb-3">
                        <div class="form-element-row mb-0">
                            <MudTextField
                                Class="input-element"
                                HelperTextOnFocus="true"
                                Label="شماره موبایل:"
                                HelperText="09*********"
                                bind-Value="Command.PhoneNumber"
                                T="string"/>
                        </div>
                    </MudItem>

                    <MudItem xs="12" lg="6" class="text-dark font-weight-bold mb-3">
                        <div class="form-element-row mb-0">
                            <div class="form-element-row mb-0">
                                <MudAutocomplete T="string"
                                                 class="select2"
                                                 Label="استان:"
                                                 @bind-Value="Command.Shire"
                                                 SelectValueOnTab="true"
                                                 SearchFunc="SearchProvince"
                                                 ToStringFunc="@(e => { GetCityData(e);return e == null ? string.Empty : $"{e} ({e})"; })"
                                                 Strict="false"
                                                 Clearable="true"/> 
                            </div>
                        </div>
                    </MudItem>

                    <MudItem xs="12" lg="6" class="text-dark font-weight-bold mb-3">
                        <div class="form-element-row mb-0">
                            <div class="form-element-row mb-0">
                                <MudAutocomplete T="string"
                                                 class="select2"
                                                 Label="شهر:"
                                                 @bind-Value="Command.City"
                                                 SearchFunc="SearchCity"
                                                 ToStringFunc="@(e => e == null ? string.Empty : $"{e} ({e})")"
                                                 Strict="false"
                                                 Clearable="true"/>
                            </div>
                        </div>
                    </MudItem>


                    <MudItem xs="12" Class="mb-3">
                        <MudText Typo="Typo.body2" Class="text-sm text-muted mb-1">آدرس کامل:</MudText>
                        <MudTextField Class="input-element" bind-Value="Command.PostalAddress" T="string" AutoGrow/>
                    </MudItem>

                    
                        <MudButton Variant="Variant.Filled" Color="Color.Primary" ButtonType="ButtonType.Submit"
                                   Class="btn btn-primary">
                            ذخیره تغییرات
                            <MudIcon Icon="Icons.Material.Filled.Edit"/>
                        </MudButton>
                  

                </div>
            </EditForm>
        </div>
    </DialogContent>
</MudDialog>





@code {
    [Parameter] public CreateUserAddressCommand? Command { get; set; } = new CreateUserAddressCommand();

    private List<Province> _provinces = [];
    private List<Cities> _citiesList = [];


    protected override void OnParametersSet()
    {
        _provinces = AddressService.ListProvince();
    }

    private void GetCityData(string province) => _citiesList = AddressService.ListCity(province);   

    private async Task<IEnumerable<string>> SearchProvince(string value, CancellationToken arg2)
        => string.IsNullOrEmpty(value) ? _provinces.Select(a=>a.Name).ToList() : _provinces.Select(a=>a.Name).Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase)).ToList();
    
    private async Task<IEnumerable<string>> SearchCity(string value, CancellationToken arg2)
        => string.IsNullOrEmpty(value) ? _citiesList.Select(a=>a.Name).ToList() : _citiesList.Select(a=>a.Name).Where(x => x.Contains(value, StringComparison.InvariantCultureIgnoreCase)).ToList();

    private Task Submit(EditContext arg)
    {
        throw new NotImplementedException();
    }



}