@page "/Auth/Login"
@layout UnAuthorizedLayout


<div class="auth-form shadow-around">
    <div class="site-logo">
        <a href="#">
            <img src="./assets/images/logo.png" alt="logo">
        </a>
    </div>
    <div class="auth-form-title">
        ورود به همتا
    </div>
    <EditForm Enhance="true" OnValidSubmit="OnValidSubmit" Model="Model" FormName="@LoginForm">
        <DataAnnotationsValidator/>
        <div class="form-element-row">
            <label for="phone-number" class="label-element">شماره موبایل</label>
            <div class="form-element-with-icon">
                <InputText @bind-Value="Model.PhoneNumber" type="text" class="input-element" id="phone-number"/> 
                <ValidationMessage For="@(() => Model.PhoneNumber)"/>
                <i class="fad fa-mobile-alt"></i>
            </div>
        </div>
        <div class="form-element-row">
            <label for="password" class="label-element">
                <span class="d-flex justify-content-between">
                    <span>کلمه عبور</span>
                    <a href="#" class="link--with-border-bottom">رمز عبور خود را فراموش کرده‌ام</a>
                </span>
            </label>
            <div class="form-element-with-icon">
                <InputText type="@PasswordInput" @bind-Value="Model.Password" class="input-element" id="password"/>
                <ValidationMessage For="@(() => Model.Password)"/>
                <i class="fad fa-key-skeleton" @onclick="ShowPassword"></i>
            </div>
        </div>
        <div class="form-element-row">
            <label class="container-checkbox">
                مرا به خاطر داشته باش
                <input type="checkbox" checked="checked">
                <span class="checkmark"></span>
            </label>
        </div>
        <div class="form-element-row text-left">
            <button class="btn-element btn-info-element" type="submit">
                <i class="fad fa-sign-in-alt"></i>
                ورود به همتا
            </button>
        </div>

    </EditForm>
    <div class="auth-form-footer">
        <span>کاربر جدید هستید؟</span>
        <a href="#" class="link--with-border-bottom">ثبت نام در همتا</a>
    </div>
</div>


@code {

    private const string LoginForm = "login-form";

    [SupplyParameterFromForm(FormName = LoginForm)]
    private LoginCommand Model { get; set; } = new();

    [CascadingParameter] public HttpContext HttpContext { get; set; }


    [SupplyParameterFromQuery] public string ReturnUrl { get; set; } = "/";

    [CascadingParameter(Name = "SnackBar")]
    private SnackBar? SnackBar { get; set; }

    private bool IsVisible { get; set; }


    private string PasswordInput = "password";

    protected override async Task OnInitializedAsync()
    {
        if (HttpMethods.IsGet(HttpContext.Request.Method))
        {
            // Clear the existing external cookie to ensure a clean login process
            await HttpContext.SignOutAsync();
        }
    } 

    private async Task OnValidSubmit()
    {
        try
        {
            var result = await Auth.Login(Model);

            if (!result.result || result.Token == null)
                await SnackBar
                    !.ShowSnackBar("خطا", result.massage, BitSnackBarType.Error);



            await HttpContext.SignInAsync(AuthConfig.ShopSchema, result.Token);
            await SnackBar!.ShowSnackBar("موفقیت", result.massage, BitSnackBarType.Success);
            NavigationManager.NavigateTo(ReturnUrl);
        }
        catch (Exception e)
        {
            await SnackBar!.ShowSnackBar("خطا", e.ToString(), BitSnackBarType.Error);
        }
    }


    void ShowPassword()
    {

        PasswordInput = IsVisible ? "text" : "password";

        IsVisible = !IsVisible;
    }

}
