@* @page "/Profile/Orders/RecentlyVisited"  *@
@* *@
@* <MudPaper Elevation="1"> *@
@*     <MudText Align="Align.Start" Typo="Typo.subtitle1" Class="section-title"> *@
@*         بازدید‌های اخیر *@
@*     </MudText> *@
@*          *@
@*     <div class="shadow-around"> *@
@*         <MudGrid class="listing-items" Justify="Justify.SpaceAround"> *@
@*             <Virtualize> *@
@*                  *@
@*             </Virtualize>                                                            *@
@*         </MudGrid> *@
@*     </div> *@
@* </MudPaper> *@
@* *@
@* *@
@* *@
@* @code *@
@* { *@
@*     public List<> Type { get; set; } *@
@* } *@
