
    <div class="section-title mb-2">
        لیست آخرین علاقه‌مندی‌ها
    </div>
    <section class="shadow-around p-3">
        <div class="row">
            <div class="col-12 mb-4">
                <div class="product-list-section">
                    <div class="product-thumbnail">
                        <a href="#">
                            <img src="./assets/images/product-list/01.jpg"
                                 alt="product title">
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="product-title">
                            <a href="#">
                                گوشی موبایل شیائومی مدل Redmi Note 8T M1908C3XG دو
                                سیم‌ کارت ظرفیت 64 گیگابایت
                            </a>
                        </div>
                        <div class="text-danger">
                            ۶,۷۹۰,۰۰۰
                            <span class="text-sm">تومان</span>
                        </div>
                        <button class="remove-item">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-4">
                <div class="product-list-section">
                    <div class="product-thumbnail">
                        <a href="#">
                            <img src="./assets/images/product-list/02.jpg"
                                 alt="product title">
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="product-title">
                            <a href="#">لپ تاپ 15 اینچی لنوو مدل Ideapad L340-FH</a>
                        </div>
                        <div class="text-danger">
                            ناموجود
                        </div>
                        <button class="remove-item">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12 mb-4">
                <div class="product-list-section">
                    <div class="product-thumbnail">
                        <a href="#">
                            <img src="./assets/images/product-list/03.jpg"
                                 alt="product title">
                        </a>
                    </div>
                    <div class="product-info">
                        <div class="product-title">
                            <a href="#">
                                گوشی موبایل سامسونگ مدل Galaxy A50 SM-A505F/DS دو
                                سیم کارت ظرفیت 128گیگابایت
                            </a>
                        </div>
                        <div class="text-danger">
                            ناموجود
                        </div>
                        <button class="remove-item">
                            <i class="far fa-trash-alt"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="text-center">
                    <a href="#" class="link--with-border-bottom">
                        <i class="far fa-edit"></i>
                        مشاهده و ویرایش لیست مورد علاقه
                    </a>
                </div>
            </div>
        </div>
    </section>
