
@using MyShop.Ui.Features.Admins.Drawer
@using MyShop.Ui.Features.Admins.Shared
@inherits LayoutComponentBase
@layout MudProviderLayout
 @attribute [AllowAnonymous]


        
    <MudLayout class="vertical-layout vertical-menu-modern semi-dark-layout 2-columns  navbar-sticky footer-static  ">
        <HeaderNavbar/>

        <div class="app-content content">
            <div class="content-overlay"></div>
            <div class="content-wrapper">
                <div class="content-header row"></div>
                <div class="content-body">
                    @Body
                </div>
            </div>
        </div>
    </MudLayout>


