<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <base href="/"/>
    <link rel="stylesheet" href="bootstrap/bootstrap.min.css"/>
    <link rel="stylesheet" href="app.css"/>
    <link rel="stylesheet" href="Ui.styles.css"/>
    <link rel="icon" type="image/png" href="favicon.png"/>
    <link rel="stylesheet" href="./assets/css/font-awesome.min.css">
    <!-- Bootstrap 4.5.3 -->
    <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css">
    <!-- CSS Implementing Plugins -->
    <link rel="stylesheet" href="./assets/css/plugins/apexcharts.css">
    <link rel="stylesheet" href="./assets/css/plugins/jquery.classycountdown.min.css">
    <link rel="stylesheet" href="./assets/css/plugins/nouislider.min.css">
    <link rel="stylesheet" href="./assets/css/plugins/sweetalert2.min.css">
    <link rel="stylesheet" href="./assets/css/plugins/select2.min.css">
    <link rel="stylesheet" href="./assets/css/plugins/swiper.min.css">
    <!-- CSS Template -->
    <link rel="stylesheet" href="./assets/css/theme.css">
    <!-- Here goes your custom.css -->
    <link rel="stylesheet" href="./assets/css/custom.css">
    <!-- colors: amber,blue,brown,cyan,default,green,indigo,orange,pink,purple,red,teal,yellow -->
    <link rel="stylesheet" href="./assets/css/colors/default.css" id="colorswitch">
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/5.1.0/css/bootstrap.min.css" rel="stylesheet"/>

    <HeadOutlet/>
</head>

<body>


<Routes/>


<Scripts/>
</body>

</html>