@using MyShop.Ui.Commen.Headers
@using MyShop.Ui.Commen.Footers
@using MyShop.Ui.Features.Users.Profile.Shared
@inherits LayoutComponentBase
@layout MudProviderLayout
@attribute [Authorize]


    <MudLayout class="page-wrapper">
            @* Main page wrapper layout *@

            <PageHeader/> @* Custom page header component *@
            <HeaderResponsive/> 

            <MudMainContent class="page-content">

                <div Class="container">
                    <div class="row mb-5">
                        <div class="col-lg-3 col-md-4 mb-md-0 mb-3 " >
                            <div class="sticky-sidebar">
                                <ProfileSideBar/>
                            </div>
                        </div>
                        <div class="col-lg-9 col-md-8">
                            @Body
                        </div>
                        
                        <div Class="row mb-5">
                            <ProfileBanner/>
                        </div>
                    </div>
                </div>
            </MudMainContent>

            @* Footer section for the profile page *@
            <MainFooter/>
    </MudLayout>



