@inherits LayoutComponentBase

<div class="page-wrapper auth-page-wrapper">

    <!-- Page Content -->
    <main class="page-content">
        <div class="container">
            <div class="auth-wrapper">
                @Body
            </div>
        </div>
    </main>
</div>