@page "/"
@using System.Security.Claims 
@using Infra.Utils
@inject ILocalStorage Local


@attribute [Authorize]

<PageTitle>Home</PageTitle>
  
<AuthorizeView>
    <Authorized>hello @context.User.Claims.FirstOrDefault(a=>a.Type == ClaimTypes.Name)!.Value</Authorized>
    <NotAuthorized>Sorry babe</NotAuthorized>
</AuthorizeView>
<h1>Hello, world!</h1>

Welcome to your new app.   



@code
{


    public async Task GetAndSetUserInfo()
    {
        await Local.SetAsync("test", "hiii");
    }
}
