@inherits LayoutComponentBase    


<BitLayout HideNavMenu="hideNavMenu" Class="page">
    <NavMenu>
        <div class="sidebar">
            <NavMenu/>
            </div>
    </NavMenu>
    <Main>
        <div class="">
            @Body
        </div>
    </Main>
    <Footer>
        <div class="card-footer">Footer</div>
    </Footer>
</BitLayout>

@code {
private bool hideNavMenu;
}
<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>