@using Microsoft.AspNetCore.Components.Authorization
@page "/"
<h3>Test</h3>
<AuthorizeView>
    <Authorized>
        hello 
    </Authorized>
</AuthorizeView>
@code {
      [CascadingParameter] public Task<AuthenticationState>? AuthenticationState { get; set; }

      

      
}