@page "/Auth/Register"
@layout AuthLayout

              
<EditForm Model="Command" OnValidSubmit="Submit" FormName="Register" Enhance="true" class="auth-form shadow-around">
    <div class="site-logo">
        <a href="#">
            <img src="./assets/images/logo.png" alt="logo">
        </a>
    </div>
    <div class="auth-form-title">
        ثبت نام در همتا
    </div>
         
    
    <AuthInput InputId="phone-number" LabelText="شماره موبایل">
        <InputIcon>
            <i class="fad fa-mobile-alt"></i>
        </InputIcon>
        
        <InputControl>
            <InputText type="text" @bind-Value="Command.PhoneNumber" class="input-element" id="phone-number"/>
        </InputControl>

        <ValidationControl>
            <ValidationMessage For="@(() =>Command.PhoneNumber )"></ValidationMessage>
        </ValidationControl>
    </AuthInput>


    <AuthInput InputId="password" LabelText="کلمه عبور">
        <InputIcon>
            <i class="fad fa-key-skeleton"></i>
        </InputIcon>

        <InputControl>
            <InputText type="password" class="input-element" id="password" @bind-Value="Command.Password"/>
        </InputControl>

        <ValidationControl>
            <ValidationMessage For="@(() =>Command.PhoneNumber )"></ValidationMessage>
        </ValidationControl>
    </AuthInput>

    <div class="form-element-row">
        <label class="container-checkbox">
            <a href="#" class="link--with-border-bottom">حریم خصوصی</a> و
            <a href="#"
               class="link--with-border-bottom">
                شرایط
                و قوانین
            </a> استفاده از سرویس های سایت
            همتا را مطالعه نموده
            و با کلیه موارد آن موافقم.
            <input type="checkbox" checked="checked">
            <span class="checkmark"></span>
        </label>
    </div>
    <div class="form-element-row text-left">
        <button class="btn-element btn-success-element">
            <i class="fad fa-user-edit"></i>
            ثبت نام در همتا
        </button>
    </div>

    <div class="auth-form-footer">
        <span>قبلا در همتا ثبت‌نام کرده‌اید؟</span>
        <a href="/auth/login" class="link--with-border-bottom">وارد شوید</a>
    </div>

</EditForm>





@code {
    private RegisterCommand Command { get; set; } = new();

    private void Submit(EditContext obj)
    {
     
    }

}